.container{
    margin-top: 25px;
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 19px;
    height: 55px;
    border-color: indigo;
    border-radius: 99px;
    
}
button{
    font-size: 22px;
    height: 42px;
    width: 58px;
    background-color: wheat;
    border-radius: 27px;
}
.calculator{
    font-size: 10px;
    display: inline-block;
    padding: 20px;
    background-color:plum;
    margin: 10px;
}
h1{
    font-size: 40px;
}
p{
    text-align: center;
}